<h1>Create a Tiffin</h1>

<%= form_with model: [@customer, @tiffin], local: true do |form| %>
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Tiffin.statuses.keys.map { |key| [key.humanize, key] }, prompt: 'Select Status' %>
  </div>

  <div>
    <%= form.submit 'Create Tiffin' %>
  </div>
<% end %>
